* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  width: 1150px;
  margin: 0 auto;
}

.nav {
  display: flex;
}

.t-center {
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  color: #487f2e;
}

.col {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav .col {
  padding: 20px;
}

.navbar {
  background-color: #c4fea9;
}

.bg-yellow {
  background-color: #fefa99;
}

.padding {
  padding-top: 25px;
  padding-left: 170px;
  padding-bottom: 25px;
}

.heading {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #5b803d;
  font-size: 40px;
}

.main {
  background-color: #fefa99;
}

.content{
  display: flex;
}

#naslov{
  color: green;
  font-size: 20pt;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
}

.fill {
  height: 60vh;
}

.footer {
  background-color: #487f2e;
  padding: 20px 0;
}

.copyright {
  text-align: center;
  color: #fefa99;
}


.srbija{
  background-image: url('srbija.jpg');
  background-repeat: no-repeat;
  background-position: center;
  height: 810px;
}


.images{
  width: 50px;
  height: 30px;
}

.captions{
  color: green;
}

.figures{
  display: block;
}

#hungary{
  color: green;
  width: 50px;
  height: 30px;
  display: block;
  left: 210px;
  position: relative;
}

#romania{
  color: green;
  width: 50px;
  height: 40px;
  display: block;
  left: 700px;
  top: 50px;
  position: relative;
}

#bulgaria{
  color: green;
  width: 50px;
  height: 40px;
  display: block;
  position: relative;
  left: 850px;
  top: 600px;
}

#macedonia{
  color: green;
  width: 50px;
  height: 40px;
  display: block;
  position: relative;
  left: 730px;
  top: 630px;
}

#albania{
  color: green;
  width: 50px;
  height: 40px;
  display: block;
  position: relative;
  left: 450px;
  top: 600px;
}

#montenegro{
  color: green;
  width: 78px;
  height: 40px;
  display: block;
  position: relative;
  left: 330px;
  top: 420px;
}

#croatia{
  color: green;
  width: 50px;
  height: 40px;
  display: block;
  position: relative;
  left: 250px;
  top: -140px;
}

/*TODO: naziv Bosna i Hercegovina da bude u jednom redu*/
#bih{
  color: green;
  width: 50px;  
  height: 40px;
  display: block;
  position: relative;
  left: 250px;
  top: 150px;
}

#serbia{
  color: green;
  width: 50px;  
  height: 40px;
  display: block;
  position: relative;
  left: 550px;
  top: 100px;
}



.flags{
  width: 90%;
  height: 80%;
}

#geografija{
  width: 50px;
  margin: 0px;
  color: green;
  text-shadow: rgb(28, 27, 24) 1px 0 10px;
  position: relative;
  left: 500px;
  top: 110px;
  font-size: 40pt;
}


#prozor{
  background-color: #fefa99;
  text-align: center;

}


.naslov{
  color: green;
}